html{
  color: #E6E6E6;
  background: linear-gradient(rgba(11, 10, 9, 0.7), rgba(4, 4, 4, 0.7)), url(pictures/background.JPG);
  background-attachment: fixed;
}

select{
  background-color:#E6E6E6;
  color: #161616;
}

/*GIFS*/
.gif{
  width:100%;
}


#menu{
  font-size: 20px;
  padding-top: 18px;
}

#grass{
  /*opacity: .1;*/
  top:0;
}

/*Headings*/
h1{
  display: flex;
  justify-content: left;
  font-family: 'Salsa', cursive;
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 5px #533, 20em 0 2em #533, 0 0 0.2em #533;
}

h2{
  float: left;
  padding-left: 1%;
  font-family: 'Rubik Doodle Shadow', system-ui;
}

h3{
  display: flex;
  justify-content: center;
  font-family: 'Salsa', cursive;
  font-size: 30px;
  color: white;
}

p{
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/*links*/
a:link {
  color: none;
}
  
a:visited {
  color: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #ddd;
}



/*Start of Navigation bar css code*/

/* Navbar container*/
.navbar {
  overflow: hidden;
  font-family: 'Marhey', sans-serif;
  float: right;
  padding: 2px;
  width: 100%;
  background-color: rgba(249, 249, 249, 30%);
  border-radius: 20px;
  margin-bottom: 4em;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  /*font-size: 16px;*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
  /*font-size: 16px;*/
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(85	51	51 / 60%);
  border-radius: 20px;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(249 249 249 / 50% );
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: solid 3px;
  border-radius: 20px;
}
  
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border: #f9f9f9 solid 2px;
  border-radius: 18px;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/*End of navigation bar css code*/
